body {
    font-family: sans-serif;
}

:root {
    --cor-1-bandeira: green;
    --cor-2-bandeira: white;
    --cor-3-bandeira: red;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.bandeira {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 500px;
    height: 350px;
}

.linhas{
    width: 33.333%;
    height: 100%;
}
.linhas:nth-child(1) {
    background-color: var(--cor-1-bandeira);
}

.linhas:nth-child(2) {
    background-color: var(--cor-2-bandeira);
}

.linhas:nth-child(3) {
    background-color: var(--cor-3-bandeira);
}

.tam_cores_bandeira {
    width: 142px;
    height: 284px;
}